.stopWatch {
  background-color: rgb(238, 238, 238);
  /* background-color: #0d0c1b; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
